<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.place.mapper.RequestMapper">
    <insert id="add">
        insert into request(user_request, request_type, request_title, request_detail, request_file, max_cost, end_time, create_time, update_time, location)
        values (#{userRequest}, #{requestType}, #{requestTitle}, #{requestDetail}, #{requestFile}, #{maxCost}, #{endTime}, #{createTime}, #{updateTime}, #{location})
    </insert>
    <update id="edit">
        update request
        <set>
                request_type = #{requestType},
                request_title = #{requestTitle},
            <if test="requestDetail != null">
                request_detail = #{requestDetail},
            </if>
            <if test="requestFile != null and requestFile != ''">
                request_file = #{requestFile},
            </if>
            <if test="maxCost != null">
                max_cost = #{maxCost},
            </if>
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
                update_time = #{updateTime}
        </set>
        where id = #{id}
    </update>
    <update id="changeState">
        update request set request_state = #{state} where id = #{id}
    </update>

    <delete id="delete">
        delete from request where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="page" resultType="com.place.domain.po.Request">
        select * from request
        <where>
            <if test="role != 1 and location == null">
                /*管理员 无loc 查所有req， 普通 无loc 查自己， 普通有loc 查同城所有*/
                user_request = #{userRequest}
            </if>
            <if test="location != null and location != ''">
                and user_request != #{userRequest}
            </if>
            <if test="requestTitle != null and requestTitle != ''">
                and request_title like concat('%', #{requestTitle}, '%')
            </if>
            <if test="requestType != null and requestType != ''">
                and request_type = #{requestType}
            </if>
            <if test="requestState != null">
                and request_state = #{requestState}
            </if>
            <if test="start != null and end != null">
                and end_time between #{start} and date_add(#{end}, interval 1 day)
            </if>
            <if test="location != null">
                and location = #{location}
                and (request_state = 0 or request_state = 1)
            </if>
        </where>
        order by create_time desc
    </select>
    <select id="getUsernameById" resultType="java.lang.String">
        select user_request from request
        <where>
            id = #{id}
        </where>
    </select>
    <select id="getLocation" resultType="java.lang.String">
        select location from request
        <where>
            id = #{id}
        </where>
    </select>
    <select id="getType" resultType="java.lang.Integer">
        select request_type from request
        <where>
            id = #{id}
        </where>
    </select>

</mapper>