<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cswap.product.mapper.BrandMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cswap.product.model.po.Brand">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="logo" property="logo" />
        <result column="status" property="status" />
        <result column="first_letter" property="firstLetter" />
        <result column="sort_by" property="sort" />
    </resultMap>

</mapper>
