<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cswap.product.mapper.ProductAttributeValueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cswap.product.model.po.ProductAttributeValue">
        <id column="id" property="id" />
        <result column="product_id" property="productId" />
        <result column="attribute_id" property="attributeId" />
        <result column="attribute_name" property="attributeName" />
        <result column="attribute_value" property="attributeValue" />
        <result column="sort_by" property="sort" />
    </resultMap>

</mapper>
